<h1 class="css_font">投稿楽曲一覧</h1>


<div class="container">
<div class="row">

<div class="col-6">
<h1 class="css_font">非公開</h1>
<% @close_songs.each do |song| %>
<br>
<table border="3" width="100%">
<tr>
<th class="css_font" width="25%">曲名</th>
<td class="css_font" width="75%"><%= link_to song_path(song.id),class: 'text-secondary' do %><%= song.name %><% end %></td>
</tr>
<tr>
<th class="css_font" width="25%">公開ステータス</th>
<td class="css_font" width="75%">
<% if song.is_opened == false %>
<b class="text-danger css_font">非公開</b>
<% elsif %>
<b class="text-success css_font">公開</b>
<% end %>
</td>
</tr>
</table>
<% end %>
</div>

<div class="col-6">
<h1 class="css_font">公開</h1>
<% @open_songs.each do |song| %>
<br>
<table border="3" width="100%">
<tr>
<th class="css_font" width="25%">曲名</th>
<td class="css_font" width="75%"><%= link_to song_path(song.id),class: 'text-secondary' do %><%= song.name %><% end %></td>
</tr>
<tr>
<th class="css_font" width="25%">公開ステータス</th>
<td class="css_font" width="75%">
<% if song.is_opened == false %>
<b class="text-danger css_font">非公開</b>
<% elsif %>
<b class="text-success css_font">公開</b>
<% end %>
</td>
</tr>
<tr>

</table>
<% end %>
</div>




