<h1>My songs</h1>

<% @song.each do |song| %>



<table border="3">
  <tr>
    <th>title</th>
    <td><%= link_to song_path(song.id) do %><%= song.name %><% end %></td>
    
  </tr>
  <tr>
    <th>status</th>
    <td><%= song.is_opened %></td>
  </tr>
</table>




<% end %>



