
<!--アドミンページ ジャンル編集-->

<div class="row my-3">
  <div class="col-4"></div>
  <div class="col-4 css_font genre_edit">
    <h3 class="css_font title">ジャンル編集</h3>
    <%= form_with model: @genre, url: genre_path(@genre.id), method: :patch, local: true do |f| %>
    <%= f.label :ジャンル名 %><br>
    <%= f.text_field :name, placeholder: "ジャンル名を入力"  %><br>
    <div class="pt-2"><%= f.submit '編集を保存', class:'btn btn-outline-secondary' %></div>
    <% end %>
  </div>
  <div class="col-4"></div>
</div>
