<h1 class="css_font">ユーザー情報編集</h1>

<div class="css_font">
<%= form_with model: @user do |f| %>

<h4 class="css_font">name</h4>
<%= f.text_field :name %>

<h4 class="css_font">email</h4>
<%= f.text_field :email %>

<%= f.submit '登録' %>
<% end %>
</div>