
<!--会員ページ　会員詳細-->

<div class="row my-3">
  <div class="col-4"></div>
  <div class="col-4">
    <h3 class="css_font title">ユーザー詳細</h3>
    <div class="py-3">
      <div style="text-align: right">
        <%= link_to edit_user_path(current_user),class:'text-secondary' do %>
        <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <%= link_to user_withdrawal_path, method: :patch, "data-confirm" => "本当に退会しますか？", class:'text-secondary' do %>
        <i class="fas fa-heart-broken"></i>
        <% end %>
      </div>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th class="css_font">ユーザー名</th>
            <th class="css_font">メールアドレス</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="css_font"><%= current_user.name %></td>
            <td class="css_font"><%= current_user.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-4"></div>
</div>
