<p class="text-center">
<img src="/assets/about.png" alt="">
</p>

 <% if admin_signed_in? %> 
 <!--adminログイン状態の際に、表示したいheaderのメニューを記載-->

<% elsif user_signed_in? %> 
<!--userログイン状態の際に、表示したいheaderのメニューを記載-->

 <% else %> 
<!--adminでもuserでもログインしていない時に表示するheaderのメニューを記載-->

 <p class="text-right">
 <%= link_to new_song_path,class: 'text-secondary' do %>合言葉お持ちの方はこちら>>︎<% end %>
 </p>

 <% end %>