
<!--トップページ-->

<div class="row my-2">
  <div class="col-12">
    <div class="css_font"><%= flash[:notice] %></div>
    <div align="center"><%= image_tag 'top.png', class: "w-100" %></div>
  </div>
</div>
<div class="row my-2 css_font">
  <div class="col-6 my-4">
    <h1 class="text-center"><%= link_to about_path,class: 'text-secondary' do %>What's BeChords??<% end %></h1>
  </div>
  <div class="col-6 my-4">
    <h1 class="text-center"><%= link_to top_search_path,class: 'text-secondary' do %>Keyword Search<% end %></h1>
  </div>
</div>