@use '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');

.css_font {
    font-family: 'Zen Kurenaido', sans-serif;
}


.signinpage input:not([type="checkbox"]){
  width: 100%;
}

.signuppage input:not([type="checkbox"]){
  width: 100%;
}

.title{
  text-align: center;
  text-decoration: underline;
}

.user_list input:not([type="radio"]) {
  width: 100%;
}

.genre_edit input{
  width: 100%;
}

.search_form input{
  width: 100%;
}

.song input:not([type="radio"]) {
  width: 100%;
}

.song select {
  width: 100%;
}

.song textarea {
  width: 100%;
}

.comment input{
  width: 100%;
}

.comment textarea {
  width: 100%;
}

.user_edit input{
  width: 100%;
}

.opinion_form input{
  width: 100%;
}

.opinion_form textarea{
  width: 100%;
}

.pagination{
    margin: 20px auto 0;
    width: 50%;
    display: flex;
    justify-content: center;
    span{
        text-align: center;
        width: 50px;
        :hover{
            background-color:#f3f3f3;
        }
        a{
            color: #c0c0c0;
            display: block;
            width: 100%;
            height: 100%;
            :hover{
                background-color: #f3f3f3;
              }
        }
    }
}