@use '~bootstrap/scss/bootstrap';




@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
 
.css_font {
    font-family: 'Zen Kurenaido', sans-serif;
}

.css_backcolor1{
    background-color:DDE6ED;
}

.css_backcolor2{
    background-color:色指定;
}