
<!--合言葉検索の部分テンプレート-->

<div class="search_form css_font">
  <%= form_with url: search_path, local: true, method: :get do |f| %>
  <%= f.text_field :word, placeholder: "合言葉を入力" %><br>
  <div class="mt-2">
    <%= f.submit "検索", class: "btn btn-outline-secondary css_font" %>
  </div>
  <% end %>
</div>