

<% if admin_signed_in? %> <!--adminログイン状態の際に、表示したいheaderのメニューを記載-->
<span class="nes-text is-primary">admin</span>
<% elsif user_signed_in? %> <!--userログイン状態の際に、表示したいheaderのメニューを記載-->
<span class="nes-text is-primary">menber</span>
<% else %><!--adminでもuserでもログインしていない時に表示するheaderのメニューを記載-->
<span class="nes-text is-primary">guest</span>
<% end %>
